* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.dog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-decoration: underline;
}

header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 250px;
}

.pups {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

section h2 {
  text-decoration: underline;
}

#fun-facts ul {
  margin-top: 10px;
}

#pics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tribute {
  text-align: center;
}

section {
  padding: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
