* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 250px;
}

.pups {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

section h2 {
  text-decoration: underline;
}

#fun-facts {
  display: block;
  justify-content: center;
  margin-top: 10px;
  margin: auto;
}

#pics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tribute {
  text-align: center;
}

section {
    padding: 50px;
}

#fun-facts ul {
    display: block;
    margin-top: 10px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  nav li {
    margin: 0 0.5rem;
  }
  
  .navbar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-color: #333;
    border-radius: 2px;
    display: block;
    height: 2px;
    width: 1.5rem;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    background-color: #333;
    border-radius: 2px;
    content: "";
    display: block;
    height: 2px;
    width: 1.5rem;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-toggler.collapsed .navbar-toggler-icon::before {
    transform: translateY(-0.5rem) rotate(-45deg);
  }
  
  .navbar-toggler.collapsed .navbar-toggler-icon::after {
    transform: translateY(0.5rem) rotate(45deg);
  }
  
  nav ul.collapsed {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: #eee;
    z-index: 1;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  }
  
  nav ul.collapsed li {
    margin: 0.5rem;
  }
  
  nav ul.collapsed a {
    font-size: 1.5rem;
  }
  
  @media only screen and (min-width: 768px) {
    nav ul {
      flex-direction: row;
    }
    nav ul.collapsed {
      display: flex !important;
      position: static;
      box-shadow: none;
    }
  }
