* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #30e8bf; 
  background: -webkit-linear-gradient(
    to right,
    #ff8235,
    #30e8bf
  ); 
  background: linear-gradient(
    to right,
    #ff8235,
    #30e8bf
  ); 
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.dog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-decoration: underline;
  background: #be93c5; 
  background: -webkit-linear-gradient(
    to right,
    #7bc6cc,
    #be93c5
  ); 
  background: linear-gradient(
    to right,
    #7bc6cc,
    #be93c5
  ); 
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #fce138;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #fce138 !important;
  color: #333;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #9c40f7;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #39a6b2;
  color: black;
  padding: 1rem;
}

img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 250px;
  border-radius: 50px;
  border: 4px solid rgb(203, 172, 118);
}

.pups {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

section h2 {
  text-decoration: underline;
}

#pics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  background: #2c3e50; 
  background: -webkit-linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); 
  background: linear-gradient(
    to right,
    #4ca1af,
    #2c3e50
  ); 
}

/* Birthday! */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  z-index: 1000;
}

.popup p {
  margin: 0;
}

.popup a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.popup a:hover {
  background-color: #2980b9;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

#birthday {
  font-size: large;
  align-items: center;
  text-align: center;
  background-color: #9c40f7;
  color: rgb(235, 235, 34);
}

#message-form {
  margin-top: 20px;
}

#message-form label {
  display: block;
  margin-bottom: 5px;
}

#message-form textarea {
  width: 100%;
}

.personalized-message {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #4ca1af;
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-section img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bday-pics {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 350px;
  border-radius: 50px;
  border: 4px solid rgb(203, 172, 118);
}

#tribute {
  text-align: center;
  color: aliceblue;
  background: #141e30;
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); 
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); 
}

#tribute img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#fun-facts {
  color: black;
  background: #eecda3; 
  background: -webkit-linear-gradient(
    to right,
    #ef629f,
    #eecda3
  ); 
  background: linear-gradient(
    to right,
    #ef629f,
    #eecda3
  ); 
}

#fun-facts li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #68cdd1;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#fun-facts h3 {
  align-items: center;
  text-align: center;
  padding: 10px;
  color: aliceblue;
  background-color: #2c43c5;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

#fun-facts li::before {
  content: '\2022';
  font-weight: bold;
  margin-right: 10px;
}

#fun-facts li:hover {
  background-color: teal;
  color: aliceblue;
}

section {
  padding: 50px;
}

.custom-bullets {
  list-style: none;
  padding-left: 0;
}

.custom-bullets li {
  margin-bottom: 10px;
}

.custom-bullets .bullet {
  display: inline-block;
  width: 12px;
  text-align: center;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #141715;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 48px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  :hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
      0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
  }
  :active {
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
  }
}

footer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 2px auto;
  background-color: #fce138;
}

@media screen and (max-width: 600px) {
  .image-section {
    flex-direction: column;
    align-items: center;
  }
}
